{% extends 'base.html' %}

{% block title %}
Edit Post {{post.id}} | HCMUT-EPFL
{% endblock %}

{% block content %}
    <div class="col-md-8">
        <h1>Edit post</h1>
    </div>
    {%if message|length>0 %}
        {%if success%}
        <div class="col-md-8">
            <p style="color:green;">{{message}}</p>
        </div>
        {%else%}
        <div class="col-md-8">
            <p style="color:red;">{{message}}</p>
        </div>
        {%endif%}
    {%endif%}
    <div class="col-md-8">
        <form action="edit" method="POST">
            {% for field in form %}
            <div class="form-group">
                {{field.label()}}
                {{field(class="form-control")}}
            </div>
            {% endfor %}
            <button class="btn btn-primary">Submit</button>
        </form>
    </div>
{% endblock %}