{% extends 'base.html' %}

{% block title %}
Export News | HCMUT-EPFL
{% endblock %}

{% block content %}
<style>
  .pad {
    padding: 10px;
  }
</style>
<div class="col-md-8">
    <h1>Export News</h1>
    <br>
    <p>Note that only verified news (as either True or Fake) are included in the exported files.</p>
  </div>
  <div class="col-md-8 pad">
    <form action="/export/csv">
        <button class="btn btn-primary">Export as CSV</button>
    </form>
  </div>
  <div class="col-md-8 pad">
    <form action="/export/json">
        <button class="btn btn-primary">Export as JSON</button>
    </form>
  </div>
{% endblock %}