{% extends 'base.html' %}

{% block title %}
Medical Labeling | HCMUT-EPFL
{% endblock %}

{% block content %}
<style>
    input[type='checkbox'] {
        height: 0;
        width: 0;
    }

    input[type='checkbox']+label {
        position: relative;
        display: flex;
        margin: .5em 0;
        align-items: center;
        color: #9e9e9e;
        transition: color 250ms cubic-bezier(.4, .0, .23, 1);
    }

    input[type='checkbox']+label>ins {
        position: absolute;
        display: block;
        bottom: 0;
        left: 2em;
        height: 0;
        width: 100%;
        overflow: hidden;
        text-decoration: none;
        transition: height 300ms cubic-bezier(.4, .0, .23, 1);
    }

    input[type='checkbox']+label>ins>i {
        position: absolute;
        bottom: 0;
        font-style: normal;
        color: #4FC3F7;
    }

    input[type='checkbox']+label>span {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 1em;
        width: 1em;
        height: 1em;
        background: transparent;
        border: 2px solid #000000;
        border-radius: 2px;
        cursor: pointer;
        transition: all 250ms cubic-bezier(.4, .0, .23, 1);
    }

    input[type='checkbox']+label:hover,
    input[type='checkbox']:focus+label {
        color: #4FC3F7;
    }

    input[type='checkbox']+label:hover>span,
    input[type='checkbox']:focus+label>span {
        background: white;
    }

    input[type='checkbox']:checked+label>ins {
        height: 100%;
    }

    input[type='checkbox']:checked+label>span {
        border: .5em solid #FFEB3B;
        animation: shrink-bounce 200ms cubic-bezier(.4, .0, .23, 1);
    }

    input[type='checkbox']:checked+label>span:before {
        content: "";
        position: absolute;
        top: .8em;
        left: .2em;
        border-right: 3px solid transparent;
        border-bottom: 3px solid transparent;
        transform: rotate(45deg);
        transform-origin: 0% 100%;
        animation: checkbox-check 125ms 250ms cubic-bezier(.4, .0, .23, 1) forwards;
    }

    @keyframes shrink-bounce {
        0% {
            transform: scale(1);
        }

        33% {
            transform: scale(.85);
        }

        100% {
            transform: scale(1);
        }
    }

    @keyframes checkbox-check {
        0% {
            width: 0;
            height: 0;
            border-color: #212121;
            transform: translate3d(0, 0, 0) rotate(45deg);
        }

        33% {
            width: .3em;
            height: 0;
            transform: translate3d(0, 0, 0) rotate(45deg);
        }

        100% {
            width: .3em;
            height: .7em;
            border-color: #212121;
            transform: translate3d(0, -.7em, 0) rotate(45deg);
        }
    }
</style>
</head>
<div class="col-lg-12">
    <div class="row g-0">
        <div class="col-lg-12">
            <h3>News/Question Labeling</h3>
            <p>Evaluate these news to be a News or Question/Irrelevant Post, then click "Submit" to confirm your
                choices.</p>
        </div>
    </div>
    <div class="container p-2"></div>
    <form action="label_question" method="POST">
        <button class="btn btn-primary">Submit</button>
        <br>
        {% for post in posts %}
        <div class="post-anchor-wrapper post">
            <div class="card mb-3 shadow-sm" style="max-width: 1000px;">
                <div class="row g-0">
                    <div class="col-md-8">
                        <div class="card-body">
                            <a href="{{post['_id']}}" class="card-text text-decoration-none text-dark">{{post['text'] if
                                post['text']|length != 0 else "[No content]"}}</a>
                            {% if 'type_post' in post %}
                            <br>
                            <i class="mdi mdi-robot"> {{"News" if post['is_question'] == 2 else "Question"}} </i>
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-2">
                        <input id="true_{{post['_id']}}" type='checkbox' value="{{loop.index}}"
                            name="true_{{post['_id']}}" />
                        <label for="true_{{post['_id']}}">
                            <span></span>
                            News
                        </label>
                    </div>
                    <div class="col-2">
                        <input id="false_{{post['_id']}}" type='checkbox' value="{{loop.index}}"
                            name="false_{{post['_id']}}" />
                        <label for="false_{{post['_id']}}">
                            <span></span>
                            Question
                        </label>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        <button class="btn btn-primary">Submit</button>
    </form>
</div>

<script>
    $(function () {
        $('input[type="checkbox"]').on('change', function () {
            $('input[value="' + this.value + '"]').not(this).prop('checked', false);
        });
    })
</script>


{% endblock %}