{% extends 'base.html' %}

{% block title %}
Medical Labeling | HCMUT-EPFL
{% endblock %}

{% block content %}
<div class="col-lg-12">
    <div class="row g-0">
        <div class="col-lg-12">
            <h3>Medical Labeling (demo)</h3>
            <p>This is a demo for annotating medical-relating posts. Changes on UI does not affect the actual data.</p>
        </div>
    </div>
    <div class="container p-2"></div>
    {% for post in posts %}
    <div class="post-anchor-wrapper post">
        <div class="card mb-3 shadow-sm" style="max-width: 1000px;">
            <div class="row g-0">
                <div class="col-md-8">
                    <div class="card-body">
                        <a href="{{post['_id']}}" class="card-text text-decoration-none text-dark">{{post['text'] if post['text']|length != 0 else "[No content]"}}</a>
                    </div>
                </div>
                <div class="col-md-1">
                    <div class="checkbox justify-content-center m-3">
                        <input type="checkbox" checked data-toggle="toggle" data-on="Medical" data-off="Non Medical"
                            data-offstyle="info" data-size="small" id="toggle-one-{{loop.index}}" style="shadow">
                    </div>
                </div>
                <div class="col-1"></div>
                <div class="col-md-1">
                    <div class="checkbox justify-content-center m-3">
                        <input type="checkbox" data-toggle="toggle" data-on="Labelled" data-off="Not Labelled"
                            data-offstyle="danger" data-onstyle="success" data-size="small" id="toggle-two-{{loop.index}}" style="shadow">
                    </div>
                </div>
                <script>
                    $(function() {
                        $('#toggle-one-{{loop.index}}').change(function() {
                            $('#toggle-two-{{loop.index}}').bootstrapToggle('on')
                        })
                    })
                </script>
            </div>
        </div>
    </div>
    {% endfor %}
</div>


{% endblock %}