{% extends 'base.html' %}

{% block title %}
Project Fake News | HCMUT-EPFL
{% endblock %}

{% block content %}

<style>
    tr[data-href] {
        cursor: pointer;
    }
</style>

<div class="col-12">
    <div class="card">
        <div class="card-body">
            <!-- title -->
            <div class="d-md-flex align-items-center">
                <div>
                    <h4 class="card-title">Medical News Check</h4>
                    <h5 class="card-subtitle">{{ filter_title }}</h5>
                </div>
                <div class="ml-auto">
                    <div class="dl">
                        <select class="custom-select" onchange="window.open(this.value,'_self');">
                            <option>---Select News---</option>
                            <option value="..">All News</option>
                            <option disabled>---Medicality---</option>
                            <option class="{{'font-weight-bold' if filter=='medical'}}"
                                value="?filter=medical{% if group|length>0 %}&group={{group}}{% endif %}{% if type|length>0 %}&type={{type}}{% endif %}">
                                Medical</option>
                            <option class="dropdown-item {{'font-weight-bold' if filter=='non_medical'}}"
                                value="?filter=non_medical{% if group|length>0 %}&group={{group}}{% endif %}{% if type|length>0 %}&type={{type}}{% endif %}">
                                Not
                                Medical</a>
                            <option disabled>---Verification---</option>
                            <option class="dropdown-item {{'font-weight-bold' if type=='true'}}"
                                value="?type=true{% if group|length>0 %}&group={{group}}{% endif %}{% if filter|length>0 %}&filter={{filter}}{% endif %}">
                                True
                                News</option>
                            <option class="dropdown-item {{'font-weight-bold' if type=='fake'}}"
                                value="?type=fake{% if group|length>0 %}&group={{group}}{% endif %}{% if filter|length>0 %}&filter={{filter}}{% endif %}">
                                Fake
                                News</option>
                            <option class="dropdown-item {{'font-weight-bold' if type=='unverified'}}"
                                value="?type=unverified{% if group|length>0 %}&group={{group}}{% endif %}{% if filter|length>0 %}&filter={{filter}}{% endif %}">
                                Unchecked</option>
                            <option disabled>---Group---</option>
                            {% for g in groups %}
                            <option class="dropdown-item {{'font-weight-bold' if group==g}}"
                                value="?group={{g}}{% if filter|length>0 %}&filter={{filter}}{% endif %}{% if type|length>0 %}&type={{type}}{% endif %}">
                                {{g}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
            <!-- title -->
        </div>
        <div class="table-responsive">
            <table class="table v-middle">
                <thead>
                    <tr class="bg-light">
                        <th class="border-top-0">News</th>
                        <th class="border-top-0">Group ID</th>
                        <th class="border-top-0">Medical</th>
                        <th class="border-top-0">True/Fake</th>
                    </tr>
                </thead>
                <tbody>
                    {% for post in posts[:10] %}
                    <a>
                        <tr data-href="{{post['_id']}}">
                            <td>
                                <div class="d-flex align-items-center">
                                    <!-- <div class="m-r-10"><a class="btn btn-circle btn-info text-white">EA</a></div> -->
                                    <div class="">
                                        <p class="m-b-0 font-16">{{' '.join(post['text'].split()[:30])}}</p>
                                    </div>
                                </div>
                            </td>
                            <td>{{post['page_id']}}</td>
                            <td>
                                {% if 'is_medical' in post %}
                                {% if not post['is_medical'] or post['is_medical'] == 'false' %}
                                <span class="label label-primary font-12">Nonmed</span>
                                {% else %}
                                <span class="label label-megna font-12">Medical</span>
                                {% endif %}
                                {% else %}
                                <span class="label label-info font-12">Unverified</span>
                                {% endif %}
                            </td>
                            <td>
                                {% if post.get('type_post') == 2 %}
                                <span class="label label-warning font-12">Personal</span>
                                {% elif post.get('type_post') == 0 %}
                                <span class="label label-warning font-12">Question</span>
                                {%else%}
                                {% if 'is_fakenew' in post %}
                                {% if not post['is_fakenew'] or post['is_fakenew'] == 'false' %}
                                <span class="label label-success font-12">True</span>
                                {% else %}
                                <span class="label label-danger font-12">Fake</span>
                                {% endif %}
                                {% else %}
                                <span class="label label-info font-12">Unverified</span>
                                {% endif %}
                                {% endif %}
                            </td>
                        </tr>
                    </a>
                    {% endfor %}
                    <script>
                        document.addEventListener("DOMContentLoaded", () => {
                            const rows = document.querySelectorAll("tr[data-href]");
                            rows.forEach(row => {
                                row.addEventListener("click", () => {
                                    window.location.href = row.dataset.href;
                                });
                            });
                        });
                    </script>
                    
                </tbody>
            </table>
        </div>
    </div>
</div>

<nav aria-label="...">
    <ul class="pagination">
        <li class="page-item {% if not pages.has_prev %} disabled {% endif %}">
            <a class="page-link"
                href="?page={{ cur_page-1 }}{% if filter|length>0 %}&filter={{filter}}{% endif %}{% if group|length>0 %}&group={{group}}{% endif %}">Previous</a>
        </li>

        {% for page in pages.iter_pages %}
        {% if page %}
        <li class="page-item {% if page == pages.page %} active {% endif %}">
            <a class="page-link"
                href="?page={{ page }}{% if filter|length>0 %}&filter={{filter}}{% endif %}{% if group|length>0 %}&group={{group}}{% endif %}">{{
                page }} <span class="sr-only">(current)</span></a>
        </li>
        {%else%}
        <li class="page-item {% if page == pages.page %} active {% endif %}">
            <a class="page-link" href="#">... <span class="sr-only">(current)</span></a>
        </li>
        {%endif%}
        {% endfor %}

        <li class="page-item {% if not pages.has_next %} disabled {% endif %}">
            <a class="page-link"
                href="?page={{ cur_page+1 }}{% if filter|length>0 %}&filter={{filter}}{% endif %}{% if group|length>0 %}&group={{group}}{% endif %}">Next</a>
        </li>
    </ul>
</nav>


{% endblock %}